/* Layout 작업시
    1. block 구조로 만들기
    2. width, height 값을 할당하여 실 영역을 먼저 확인할 것 */

body {
    background: #c8e6c9;
    color: #fff;
    font-size: 40px;
}
nav::before {content: '기본';}

/* 화면너비 1025 ~ 1280px : 데스크탑 이상의 환경 */
@media (max-width: 1280px) {
    body {
        background: #88024f;
    }
    nav::before {content: '화면너비 1025 ~ 1280px : 데스크탑 이상의 환경';}
}
/* 화면너비 961 ~ 1024px : 데스크탑 환경 */
@media (max-width: 1024px) {
    body {
        background: #4a148c;
    }
    nav::before {content: '화면너비 961 ~ 1024px : 데스크탑 환경';}
}
/* 화면너비 769 ~ 960px : 노트북 환경 */
@media (max-width: 960px) {
    body {
        background: #311b92;
    }
    nav::before {content: '화면너비 769 ~ 960px : 노트북 환경';}
}
/* 화면너비 577 ~ 768px : 태블릿 환경 */
@media (max-width: 768px) {
    body {
        background: #6c9088;
    }
    nav::before {content: '화면너비 577 ~ 768px : 태블릿 환경';}
}
/* 화면너비 0 ~ 576px : 모바일 환경 */
@media (max-width: 576px) {
    body {
        background: #ffe;
    }
    nav::before {content: '화면너비 0 ~ 576px : 모바일 환경';}
}

.wrap {
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    text-align: center;
}

header {
    width: 1000px;
    height: 100px;
    line-height: 100px;
    background: #2e7d32;
}

nav {
    width: 1000px;
    height: 100px;
    line-height: 100px;
    background: #388e3c;
    font-size: 30px;
    text-align: left;
}

main {
    display: flex;
}

aside {
    width: 300px;
    height: 600px;
    line-height: 600px;
    background: #43a047;
}

section {
    width: 700px;
    height: 600px;
    line-height: 600px;
    background: #4caf50;
}

footer {
    width: 1000px;
    height: 100px;
    line-height: 100px;
    background: #66bb6a;
}